/* ฟอนต์ Inter */
* { font-family: "Inter", Helvetica, Arial, sans-serif; }

h1 { font-size: 15px; }
h2 { font-size: 14px; }
.fs-14 { font-size: 14px !important; }


.menu-item-wrapper.with-dropdown:hover{
  background: #ddd8d94d;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.28);
}

.text-gray-979797 { color: #979797 !important; }
.ellipsis-text { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* Responsive logo & menu button */
/* @media (max-width: 1900px) {
  .header-logo img, .header-logo { width: 48px !important; height: 48px !important; transition: width 0.2s, height 0.2s; }
  .menu-item-wrapper button { font-size: 15px !important; }
  .header-main-row { min-height: 70px !important; }
}
@media (max-width: 1400px) {
  .header-logo img, .header-logo { width: 40px !important; height: 40px !important; }
  .menu-item-wrapper button { font-size: 14px !important; }
}
@media (max-width: 1200px) {
  .header-logo img, .header-logo { width: 32px !important; height: 32px !important; }
  .menu-item-wrapper button { font-size: 13px !important; }
} */

/* Responsive language menu */
@media (max-width: 1200px) {
  .header-lang .lang-link span { font-size: 12px; }
  .header-lang .lang-flag { width: 13px !important; height: 9px !important; }
}
@media (max-width: 1400px) {
  .header-lang .lang-link span { font-size: 14px; }
  .header-lang .lang-flag { width: 16px !important; height: 11px !important; }
}
@media (max-width: 1200px) {
  .header-lang .lang-link span { font-size: 12px; }
  .header-lang .lang-flag { width: 13px !important; height: 9px !important; }
}
@media (max-width: 1700px) {
  .header-lang .lang-text { display: none !important; }
}

/* Hamburger & desktop menu */
.menu-desktop { display: flex !important; }
.burger-mobile { display: none !important; }
@media (max-width: 1450px) {
  .menu-desktop { display: none !important; }
  .burger-mobile { display: flex !important; }
}

.language-switcher-btn {
    margin-bottom: 0px;
    margin-top: -75px;
}
/* -------------------------------------------------- */
.about-bg-image {
  background-image: url('/images/team/TPP_HOME.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* เพิ่มเติมเช่นขอบมนหรือเงา */
  border-radius: 1.5rem; /* ถ้าต้องการโค้งเหมือนของเดิม */
  min-height: 400px;      /* กำหนดความสูงขั้นต่ำ */
}

.transparent-bg {
  background-color: #ffffff00 !important;
}
